h1{
    text-align: center;
	margin: 15px;
	font-size: 5rem;
	 padding-bottom:5%;
	 padding-top:5%;
}
p{
	padding-left: 2%;
    padding-right: 2%;
    padding-top:0.5%;
    padding-bottom:;
	font-size: 1rem;
}
